bindkey -v
setopt extended_glob
unsetopt share_history
setopt inc_append_history
setopt hist_ignore_all_dups
export HISTFILE=~/.zsh_history
export HISTSIZE=1000
export SAVEHIST=$HISTSIZE
export EDITOR={{ .terminal.userEditor }}
export GIT_EDITOR=$EDITOR
export VISUAL=$EDITOR
bindkey "^R" history-incremental-search-backward
SSH_AGENT_PID=""
SSH_AUTH_SOCK="${XDG_RUNTIME_DIR}/gnupg/S.gpg-agent.ssh"
bindkey '^[[A' history-substring-search-up
bindkey '^[[B' history-substring-search-down
bindkey '^P' history-beginning-search-backward
bindkey '^N' history-beginning-search-forward
