{{- $email := promptStringOnce . "email" "Email address" -}}

{{- $computerType := promptStringOnce . "computerType" "Type of computer used" -}}

[data]
    email = {{ $email | quote }}
    computerType = {{ $computerType | quote }}

encryption = "gpg"
[gpg]
    recipient = {{ $email | quote }}
