# vi: ft=toml

{{ $email := promptStringOnce . "email" "Email address" -}}

{{- $computerType := promptStringOnce . "computerType" "Type of computer used" -}}

{{- $bkpdrv := promptStringOnce . "bkpdrv" "Main backup drive label" -}}

{{- $termFontSize := promptStringOnce . "termFontSize" "Your terminal font size" -}}

[data]
    email = {{ $email | quote }}
    computerType = {{ $computerType | quote }}
    bkpdrv = {{ $bkpdrv | quote }} 
    termFontSize = {{ $termFontSize | quote }}

encryption = "gpg"
[gpg]
    recipient = {{ $email | quote }}
