{{- if eq .computerType "personal" }}
[".vim/pack/dhruvasagar/start/vimtablemode"]
    type = "archive"
    url = "https://github.com/dhruvasagar/vim-table-mode/archive/refs/heads/master.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".vim/pack/fatih/start/vimgo"]
    type = "archive"
    url = "https://github.com/fatih/vim-go/archive/refs/heads/master.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
{{- end }}

[".vim/pack/tpope/start/surround"]
    type = "archive"
    url = "https://github.com/tpope/vim-surround/archive/refs/heads/master.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".vim/pack/tpope/start/commentary"]
    type = "archive"
    url = "https://github.com/tpope/vim-commentary/archive/refs/heads/master.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

