{{- if ne .computerType "personal" }} 
.Xdefaults
.ssh/id_rsa
.config/rclone/rclone.conf
bin/
bin/*
etcbkp/
.bash/git-prompt.sh
dsk/
dsk/*
.config/containers/
.config/environment.d/
.config/foot/
.config/cmus/
.config/weechat/
.config/rclone/
.config/systemd/
.gnupg/
.config/containers/*
.config/environment.d/*
.config/foot/*
.config/cmus/*
.config/weechat/*
.config/rclone/*
.config/systemd/*
.gnupg/*
{{- end }}
