{{- if ne .computerType "personal" }}
[".vim/pack/lut1a/start/surround"]
    type = "archive"
    url = "https://github.com/tpope/vim-surround/archive/refs/heads/master.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".vim/pack/lut1a/start/commentary"]
    type = "archive"
    url = "https://github.com/tpope/vim-commentary/archive/refs/heads/master.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".vim/pack/lut1a/start/tablemode"]
    type = "archive"
    url = "https://github.com/dhruvasagar/vim-table-mode/archive/refs/heads/master.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".vim/pack/lutia/start/vimgo"]
    type = "archive"
    url = "https://github.com/fatih/vim-go/archive/refs/heads/master.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
{{- end }}
