{{- if ne .computerType "personal" }} 
.Xdefaults
.gitconfig
.config/rclone/rclone.conf
bin/
etcbkp/
dsk/
.config/containers/
.config/environment.d/
.config/foot/
.config/cmus/
.config/weechat/
.config/rclone/
.config/systemd/
.gnupg/
{{- end }}

{{- if eq .noEnc "yes" }}
.gnupg/sshcontrol
.gitconfig
{{- end }}
