{{- if ne .computerType "personal" }} 
.Xdefaults
.ssh/id_rsa
.config/rclone/rclone.conf
bin/
etcbkp/
.bash/git-prompt.sh
dsk/
.config/containers/
.config/environment.d/
.config/foot/
.config/cmus/
.config/weechat/
.config/rclone/
.config/systemd/
.gnupg/
.vim/backup/
.vim/backupf/
{{- end }}
