# vi: ft=toml

{{ $email := promptStringOnce . "email" "Email address" -}}

{{- $computerType := promptStringOnce . "computerType" "Type of computer used" "personal" -}}

{{- $bkpdrv := promptStringOnce . "bkpdrv" "Main backup drive label" "none"  -}}

{{- $termFontSize := promptStringOnce . "termFontSize" "Your terminal font size" "18" -}}

[data]
    email = {{ $email | quote }}
    computerType = {{ $computerType | quote }}
    bkpdrv = {{ $bkpdrv | quote }} 
    termFontSize = {{ $termFontSize | quote }}

encryption = "gpg"
[gpg]
    recipient = {{ $email | quote }}

[diff]
    command = "vim"
    args = ["-d", "{{`{{ .Destination }}`}}", "{{`{{ .Target }}`}}"]

[merge]
    command = "vim"
    args = ["-d", "{{`{{ .Destination }}`}}", "{{`{{ .Source }}", "{{ .Target }}`}}"]
