# ~/.bashrc
# vi: ft=sh
# shell benchmark
# * for interactive login shell: `time bash --login -i -c true`
# * for interactive shell: `time bash -i -c true`
. "$HOME"/.shrc/shrc

if [ -f "$HOME"/.shrc/git-prompt.sh ]; then
	. "$HOME"/.shrc/git-prompt.sh
	GIT_PS1_SHOWDIRTYSTATE=1
	GIT_PS1_SHOWCOLORHINTS=1 
	GIT_PS1_SHOWCONFLICTSTATE="yes"
fi

_GREEN="\001$(tput setaf 2)\002"
_BLUE="\001$(tput setaf 4)\002"
_RED="\001$(tput setaf 1)\002"
_RESET="\001$(tput sgr0)\002"
_BOLD="\001$(tput bold)\002"
if [ "$SSH_CONNECTION" != "" ]; then
	PS1="${_GREEN}\u@\h: \w \$${_RESET} \n> "
elif [ -f "$HOME"/.shrc/git-prompt.sh ]; then
	PROMPT_COMMAND='__git_ps1 ${_BLUE}"\w" ${_RESET}"\n> "'
else
	PS1="${_BLUE}\w \$${_RESET} \n> "
fi
PS2='> '

if ! shopt -oq posix; then
	if [ -f /usr/share/bash-completion/bash_completion ]; then
		. /usr/share/bash-completion/bash_completion
	elif [ -f /etc/bash_completion ]; then
		. /etc/bash_completion
	fi
fi
[ "$PS1" ] && complete -cf sudo

shopt -s extglob
shopt -s checkwinsize
export HISTCONTROL=ignoreboth:erasedups
shopt -s histappend

if _checkexec gopass; then
	. <(gopass completion bash)
fi
