" vi: ft=vim
set nocompatible
set autoread
packloadall
set encoding=utf-8
set number
set relativenumber
set textwidth=72
set colorcolumn=80
set formatoptions=tcqrn1
set showmatch
"set cursorline
set errorbells
set visualbell
set belloff=esc
set diffopt+=iwhite
set whichwrap=bs<>[]
set showbreak=>\ \ \ 
set nostartofline
set hidden
set hlsearch
set smartcase
set incsearch
set ignorecase
set expandtab softtabstop=4 shiftwidth=4
set copyindent
set smarttab
set autoindent
set smartindent
set tabstop=4
set title
set titlestring=VIM:\ %-25.55F\ %a%r%m titlelen=70
set showcmd
set ruler
set ttyfast
set backspace=indent,eol,start
set laststatus=2
set showmode
set showcmd
"set spelllang=en,fr
"set spellsuggest=10

{{- if eq .computerType "personal" }} 
set backupdir=~/.vim/backup
set directory=~/.vim/backupf
set clipboard=unnamedplus
xnoremap "+y y:call system("wl-copy", @")<cr>
nnoremap "+p :let @"=substitute(system("wl-paste --no-newline"), '<C-v><C-m>', '', 'g')<cr>p
nnoremap "*p :let @"=substitute(system("wl-paste --no-newline --primary"), '<C-v><C-m>', '', 'g')<cr>p
{{- end }}

" Mimic Emacs Line Editing in Insert Mode Only
inoremap <C-A> <Home>
inoremap <C-B> <Left>
inoremap <C-E> <End>
inoremap <C-F> <Right>
" â is <Alt-B>
inoremap â <C-Left>
" æ is <Alt-F>
inoremap æ <C-Right>
inoremap <C-K> <Esc>lDa
inoremap <C-U> <Esc>d0xi
inoremap <C-Y> <Esc>Pa
inoremap <C-X><C-S> <Esc>:w<CR>a
inoremap <A-x> <Esc>:
inoremap <A-f> <Esc>lwi
inoremap <A-b> <Esc>bi
inoremap <A-S-f> <Esc>lWi
inoremap <A-S-b> <Esc>Bi

set ofu=syntaxcomplete#Complete
syntax enable
colorscheme modus_operandi

filetype plugin indent on
au BufNewFile,BufRead *.json set ft=json syntax=javascript
