" vi: ft=vim
set nocompatible
packloadall
set encoding=utf-8
set number
set relativenumber
set textwidth=72
set colorcolumn=80
set errorbells
set visualbell
set belloff=esc
set diffopt+=iwhite
set showbreak=>\ \ \ 
set hlsearch
set tabstop=4
set expandtab softtabstop=4 shiftwidth=4
set autoindent
set title
set titlestring=VIM:\ %-25.55F\ %a%r%m titlelen=70
set ttyfast
set showcmd
set showmode
set showcmd
"set spelllang=en,fr
"set spellsuggest=10

{{- if eq .computerType "personal" }} 
set backupdir=~/.vim/backup
set directory=~/.vim/backupf
set clipboard=unnamedplus
xnoremap "+y y:call system("wl-copy", @")<cr>
nnoremap "+p :let @"=substitute(system("wl-paste --no-newline"), '<C-v><C-m>', '', 'g')<cr>p
nnoremap "*p :let @"=substitute(system("wl-paste --no-newline --primary"), '<C-v><C-m>', '', 'g')<cr>p

{{- if eq .chezmoi.os "linux" }}
if has("gui_running")
    set guioptions-=m  "menu bar
    set guioptions-=T  "toolbar
    set guioptions-=r  "scrollbar
    set guifont=JetBrains\ Mono\ 12
    set guiligatures=!\"#$%&()*+-./:<=>?@[]^_{\|~
endif
{{- end }}

{{- end }}

set ofu=syntaxcomplete#Complete
syntax enable
colorscheme modus_operandi

filetype plugin indent on
au BufNewFile,BufRead *.json set ft=json syntax=javascript
