set nocompatible
syntax on
if has("autocmd")
    filetype plugin indent on
endif
packloadall
set encoding=utf-8
set number
set relativenumber
"set wrap
"set textwidth=80
set formatoptions=tcqrn1
set showmatch
set errorbells
set visualbell
set hlsearch
set smartcase
set ignorecase
set incsearch
set autoindent
set cindent
set shiftwidth=4
set expandtab
set noshiftround
set softtabstop=4
set ruler
set undolevels=1000
set backspace=indent,eol,start
set laststatus=2
set showmode
set showcmd

{{- if eq .chezmoi.osRelease.name "Arch Linux" }} 
set clipboard=unnamedplus
xnoremap "+y y:call system("wl-copy", @")<cr>
nnoremap "+p :let @"=substitute(system("wl-paste --no-newline"), '<C-v><C-m>', '', 'g')<cr>p
nnoremap "*p :let @"=substitute(system("wl-paste --no-newline --primary"), '<C-v><C-m>', '', 'g')<cr>p
{{- end }}

set omnifunc=syntaxcomplete#Complete

" colorscheme
set termguicolors
let ayucolor="dark"
colorscheme ayu
