#
# ~/.bashrc
#

_append_path() {
	case ":$PATH:" in
	*:"$1":*) ;;
	*)
		PATH="${PATH:+$PATH:}$1"
		;;
	esac
}

if [ -d "$HOME"/bin ]; then
	_append_path "$HOME"'/bin'
fi

if [ -d "$HOME"/go/bin ]; then
	_append_path "$HOME"'/go/bin'
fi

if [ -d /usr/local/go/bin ]; then
	_append_path '/usr/local/go/bin'
fi

case $- in
*i*) ;;
*) return ;;
esac

if [ -f "$HOME"/.bash/git-prompt.sh ]; then
	. "$HOME"/.bash/git-prompt.sh
	GIT_PS1_SHOWDIRTYSTATE=1
fi

_checkexec() {
	command -v "$1" >/dev/null
}

if [ "$SSH_CONNECTION" != "" ]; then
	PS1='\u@\h: \w \$ \n>'
elif [ -f "$HOME"/.bash/git-prompt.sh ]; then
	PS1='\w \$$(__git_ps1 " (%s)") \n> '
else
	PS1='\w \$ \n> '
fi
PS2="> "
if ! shopt -oq posix; then
	if [ -f /usr/share/bash-completion/bash_completion ]; then
		. /usr/share/bash-completion/bash_completion
	elif [ -f /etc/bash_completion ]; then
		. /etc/bash_completion
	fi
fi
[ "$PS1" ] && complete -cf sudo

if _checkexec dircolors; then
	dircolors_data='"$HOME"/.dircolors'
	test -r "$dircolors_data" && eval "$(dircolors -b "$dircolors_data")" || eval "$(dircolors -b)"
fi
if _checkexec gopass; then
	. <(gopass completion bash)
fi
. "$HOME"/.bash/aliases.sh
export EDITOR={{ .userEditor }}
export GIT_EDITOR=$EDITOR
export VISUAL=$EDITOR
export PAGER={{ .pager }}
export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/ssh-agent.socket"

if [ -f "$HOME"/.Xdefaults ]; then
	if [ "$SSH_CONNECTION" = "" ]; then
		xrdb -merge "$HOME"/.Xdefaults
	fi
fi
