#!/usr/bin/env bash
# vi: ft=sh
# manuallyinstalledpkgs.txt hash: {{ include "bin/manuallyinstalledpkgs.txt" | sha256sum }}
{{ if eq .chezmoi.osRelease.name "Arch Linux" -}} 
xargs -a "$HOME"/bin/manuallyinstalledpkgs.txt sudo pacman -S --needed
{{ end -}}
