# vi: ft=sh
alias docker='podman'
{{- if eq .chezmoi.osRelease.name "Arch Linux" }}
alias pkgupd='systemd-run --scope --user tmux new -s upgrade "sudo pacman -Syu ; exec bash"'
{{- end }}
{{- if eq .chezmoi.osRelease.name "Debian GNU/Linux" }}
alias pkgupd='systemd-run --scope --user tmux new -s upgrade "sudo apt update ; sudo apt upgrade ; exec bash"'
{{- end  }}
alias vim='nvim'
alias tmuxc='tmux new -s'
alias n='tmux new-window'
alias a='tmux a'
alias wee='tmux new -s weechat weechat'
alias root='sudo -i'
alias ping='ping -c 5'
alias ports='netstat -tulanp'
alias gita='git add -A'
alias gitc='git commit -m'
alias gitp='git push -u origin main'
alias gits='git status'
alias cedu='bash -c "cd $(chezmoi source-path) ; git add -A ; git commit -m \"dotfiles update\" ; git push -u origin main"'
alias ced='chezmoi edit --apply'
alias cedp='chezmoi apply'
alias mkdir='mkdir -pv'
alias xu='du -d1 -h | sort -h'
alias xf='df -h'
alias mnt='mount | grep -E "^/dev" | column -t'
alias o='xdg-open'
alias find_='sh -c '\''find $@ 2>&1 | grep -v "Permission denied" >&2'\'' _'
alias which='sh -c '\''command -v $1'\'' _'
alias gh='history | grep -i'
alias las='ls -t -1'
alias prog='watch progress'
alias pth='echo -e ${PATH//:/\\n}'
alias now='date +"%T"'
alias nowdate='date +"%d-%m-%Y"'
alias wget='wget -c'
alias sscp='rsync --verbose --progress --partial'
alias zk='zk --notebook-dir="$HOME"/Documents/notes/'
######
alias ll='ls -l'
alias lla='ls -lA'
alias la='ls -A'


alias h='history'
alias j='jobs -l'
alias bc='bc -l'
alias installgodoc='go install golang.org/x/tools/cmd/godoc@latest'
alias godoc='\godoc -http=:6060'

man ()
{
    env \
        LESS_TERMCAP_mb=$(tput bold; tput setaf 6) \
        LESS_TERMCAP_md=$(tput bold; tput setaf 6) \
        LESS_TERMCAP_me=$(tput sgr0) \
        LESS_TERMCAP_se=$(tput rmso; tput sgr0) \
        LESS_TERMCAP_ue=$(tput rmul; tput sgr0) \
        LESS_TERMCAP_us=$(tput smul; tput bold; tput setaf 4) \
        LESS_TERMCAP_mr=$(tput rev) \
        LESS_TERMCAP_mh=$(tput dim) \
        LESS_TERMCAP_ZN=$(tput ssubm) \
        LESS_TERMCAP_ZV=$(tput rsubm) \
        LESS_TERMCAP_ZO=$(tput ssupm) \
        LESS_TERMCAP_ZW=$(tput rsupm) \
        man "$@"
}

selcol ()
{
    awk '{print $1}'
}
